  .tile.tile-2 .tile-inner {
    background: #ffffff; }
  .tile.tile-4 .tile-inner {
    background: #ffafaf; }
  .tile.tile-8 .tile-inner {
    background: #ff5f5f; }
  .tile.tile-16 .tile-inner {
    background: #ff0000; }
  .tile.tile-32 .tile-inner {
    background: #af0000; }
  .tile.tile-64 .tile-inner {
    color: #f9f6f2;
    background: #5f0000; }
  .tile.tile-128 .tile-inner {
    color: #f9f6f2;
    background: #000000;
    font-size: 50px; }
    @media screen and (max-width: 520px) {
      .tile.tile-128 .tile-inner {
        font-size: 25px; } }
